* {
    border: 0;
    padding: 0;
    margin: 0
}

html {
    font-style: "Dosis";
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px #000;
    color: var(--custom-green);
    background-color: var(--dark-blue);
}

.geno-pfp {
    border-radius: 10rem;
    width: 10em;
    height: 10em;
}

.container{
    list-style-type: none;
}

.flex {
    display: flex;
    justify-content: center;
}

.roles {
    padding: 1em
}

.box {
    font-size: medium;
    text-shadow: none;
    color: var(--custom-lavender);
    background-color: var(--shadow);
    margin-top: 1em;
    border-radius: 30px;
    border: 10px solid var(--shadow);
    margin-left: 0.5em;

    transition-property: font-size;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.box:hover {
    font-size: x-large;
    cursor: default;
}

.intro {
    font-size: larger;
    text-align: center;
    width: 60ch;
    font-family: "Dosis";
}
/* rgb(49, 51, 56) */