

* {
    border: 0;
    padding: 0;
    margin: 0
}

html {
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;
    color: var(--custom-green);
    background-color: var(--dark-blue);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    overflow-x: hidden;
}

.geno-pfp {
    border-radius: 10rem;
    width: 10em;
    height: 10em;
    margin-left: 25em;
    margin-top: 3em;
}

.container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 20em;
    margin-top: 0.5em;
    margin-left: 20em;
}

.box {
    font-size: medium;
    text-shadow: none;
    color: var(--custom-lavender);
    background-color: var(--shadow);
    display: inline-block;
    margin-top: 1em;
    border-radius: 30px;
    border: 10px solid var(--shadow);
    margin-left: 0.5em;

    transition-property: font-size;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.box:hover {
    font-size: x-large;
    cursor: default;
}

.intro {
    font-size: larger;
    text-align: center;
    width: 60ch;
    display: block;
    margin: 0 auto;
}
/* rgb(49, 51, 56) */