:root {
    --light-green: #60d748;
    --dark-torquise: #8ee6ab;
    --geno-green: #64dd6e;
    --creme-green: #bbe071;

    /* Custom Colors from AYU theme ;) */
    --custom-blue: rgb(62, 166, 253);
    --custom-cyan: rgb(149, 230, 203);
    --custom-lavender: rgb(223, 191, 255);
    --custom-green: rgb(212, 254, 127);
    --custom-red: rgb(242, 158, 116);
    --custom-orange: rgb(255, 209, 115);

    /* Dark Theme */
    --dark-blue: rgb(31, 36, 48);
    --shadow: rgb(46, 77, 112);
    --grey: rgb(107, 121, 139)
}