nav {
    color: var(--custom-blue);
    font-size: 2em;
    font-family: "Roboto";
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.navitem {
    display: inline;
    padding-left: 1em;
}

.nav-text {
    text-decoration: none;
    color: var(--custom-blue);
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

.nav-text:hover {
    background-color: var(--shadow);
}