* {
    border: 0;
    padding: 0;
    margin: 0
}

html {
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;
    color: var(--custom-green);
    background-color: var(--dark-blue);
    font-family: 'Dosis', sans-serif;
}

.articles {
    display: flex;
    justify-content: space-evenly;
}

.intro {
    font-size: larger;
    text-align: center;
    width:70ch;
    display: block;
    margin: 0 auto;
}

.article-header {
    color: var(--custom-cyan);
}

.html-article, .css-article {
    color: var(--custom-lavender);
    max-width: 40ch;
    text-align: justify;
    border-radius: 20px;
    background-color: var(--shadow);
    padding: 1em;
}

.article-content {
    padding-top: 1rem;
}