:root {
    /* 
    --lavender: #4056a1;
    --dark-torquise: #379683;
    --light-green: #5cdb95;
    --geno-green: #8ee4af;
    --white: #edf5e1;
    */
    --light-green: #60d748;
    --dark-torquise: #8ee6ab;
    --geno-green: #64dd6e;
    --creme-green: #bbe071;

    /* Custom Colors from AYU theme ;) */
    /* --custom-blue: rgb(92, 297, 230); */
    --custom-blue: rgb(62, 166, 253);
    --custom-cyan: rgb(149, 230, 203);
    --custom-lavender: rgb(223, 191, 255);
    --custom-green: rgb(212, 254, 127);
    --custom-red: rgb(242, 158, 116);
    --custom-orange: rgb(255, 209, 115);

    /* Dark Theme */
    --dark-blue: rgb(31, 36, 48);
    --shadow: rgb(46, 77, 112);
    --grey: rgb(107, 121, 139)
}

* {
    border: 0;
    padding: 0;
    margin: 0
}


html {
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;
    color: var(--custom-green);
    background-color: var(--dark-blue);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    color: var(--custom-blue);
    font-size: 40px;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
    position: sticky;
}

.navitems {
    margin-top: 0.5em;
}

.navitem {
    display: inline;
    padding-left: 1em;
}

a {
    text-decoration: none;
    color: var(--custom-blue);
}

a:hover {
    background-color: var(--shadow);
    border-radius: 10px;
}

body {
    overflow-x: hidden
}

.articles {
    display: flex;
    justify-content: space-evenly;
}

.intro {
    font-size: larger;
}

.article-header {
    color: var(--custom-cyan);
}

.html-article, .css-article {
    color: var(--custom-lavender);
    max-width: 40ch;
    text-align: justify;
    border-radius: 20px;
    background-color: var(--shadow);
    padding: 1rem;
    margin-top: 3em;
}

.article-content {
    padding-top: 1rem;
}

.copyright {
    font-size: 25px;
}

.author {
    font-size: 13px;
}

footer {
    border: 0;
    color: var(--custom-cyan);
    margin-bottom: -10px;
    margin-right: -15px;
    margin-left: -15px;
    border-style: solid;
    height: 80px;
}